body {
    margin: 0;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:rgb(152, 168, 212)
    
}
.team h1{
    font-family:'Cursed Timer ULiL';
    font-size: 60px;
}
.team h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
}
.team h1, .team h2, .team h3{
    margin: 30px;
}
#number-home, #number-guest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;          /* fixed width */
  height: 100px;         /* fixed height */
  font-size: 48px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box; /* makes padding + border included in size */
  text-align: center;
  color: black;
}

.team{
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;     /* Space between the two sections */
    background-color: #1B244A;
    width: 500px;
    margin: 20px 20px ;
    padding-bottom: 40;
    border-radius: 12px;
    color: white;
    
}
.score-button{
    display: flex;
    list-style: none;      /* Remove bullet points */
    margin: 30px auto;
    padding: 0;
    gap: 12px;             /* Space between items */
    justify-content: center;
      
}

.bottom {
    display: flex;
    align-items: center;
    flex-direction: column; /* Stack items vertically */
    justify-content: space-around;       /* Space between the two sections */
    background-color: #1B244A;
    width: 500px;
    margin: -40px 20px 20px 20px; 
    padding-top: 10px;  
    padding-bottom: 30px;                  /* Center the container */
    border-radius: 12px;
    color: white;
    gap: 10px;
}

#timer {
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: white;
    color: black;
    padding: 12;
    border-radius: 8px;
    border: 2px solid black;

}



